<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>

        <title>test bootstrap</title>
    </head>
    <body>
        <header class="header mx-auto text-center">
            <!-- <img border="0" src="img/dgtu.png" width="70"> -->
            Регби-Ростов
        </header>

        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expended="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse mb-2" id="navbarSupportedContent">
                <div class="container">
                    <nav class="row justify-content-md-center  text-center">
                        <nav class="nav-item col-lg-2"  style="font-size=5px;">
                          <a class="nav-link" href="/regby-rostov/">Home</a>
                        </nav>

                        <nav class="nav-item col-lg-2" >
                            <a class="nav-link" href="/regby-rostov/">История</a>
                        </nav>

                        <nav class="nav-item col-lg-2" >
                            <a class="nav-link" href="/regby-rostov/">Игроки</a>
                        </nav>

                        <nav class="nav-item col-lg-2" >
                            <a class="nav-link" href="/regby-rostov/news/">Новости</a>
                        </nav>

                        <nav class="nav-item col-lg-2">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"?>
                                Галерея
                            </a>
                            <nav class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/regby-rostov/galary/photo/">Фото</a>
                                <a class="dropdown-item" href="/regby-rostov/galary/video/">Видео</a>
                            </nav>
                        </nav>

                        <nav class="nav-item dropdown col-lg-2">
                            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"?>
                                Клубы
                            </a>
                            <nav class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/regby-rostov/">ДГТУ</a>
                                <a class="dropdown-item" href="/regby-rostov/">Дон</a>
                            </nav>
                        </nav>
                    </nav>
                </div>
            </div>
        </nav>

        <div class="container my-0">
            <div class="row justify-content-md-center ">
                <div class="col-lg-8  py-5">
                    {% if news and alboms %}
                        {% include 'rk_dgtu/include/home.html' %}
                    {% else %}

                        {% if news %}
                            {% include 'rk_dgtu/include/news.html' %}
                        {% endif %}

                        {% if new %}
                            {% include 'rk_dgtu/include/new.html' %}
                        {% endif %}

                        {% if alboms or videos%}
                            {% include 'rk_dgtu/include/galary.html' %}
                        {% endif %}

                        {% if photo %}
                            {% include 'rk_dgtu/include/albom.html' %}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-3">
                    {% include 'rk_dgtu/include/events.html' %}
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      </body>
</html>
