{% load static %}
<div class="card rounded-0 pb-2 mb-4" style="border: 0; background: #ddeffe">
    <img class="card-img-top mb-2" src="{% static 'img/7G57TJP9uVk.jpg' %}" alt="Card image cap">
    <p class="card-text  mx-3" align="justify" style="font-size: 20px; text-indent: 30px; margin: 0;">
        В 2017 году в Российской премьер лиги в группе «Б» дебютировал регбийный клуб ДГТУ.
        Команда основана на базе студенческих регбийных команд опорного ВУЗа. Регби в ВУЗе
        развивается более 15 лет, за это время команда вуза неоднократно становилась
        победителем спартакиады вузов Ростовской области и принимала участие во всероссийских
        универсиадах.
    </p>
    <p class="card-text  mx-3" align="justify" style="font-size: 20px; text-indent: 30px; margin: 0;">
        В разное время за университетскую команду выступало много талантливых спортсменов, ряд из
        которых привлекались или привлекаются в сборную команды Российской Федерации: Назир
        Гасанов, Алексей Маковецкий, Иван Котов, Евгений Непейвода и Михаил Кудинов. Но
        финансовая составляющая не позволяла удерживать местные таланты, и они продолжают
        свои выступления за ведущие команды России.
    </p>
    <p class="card-text  mx-3" align="justify" style="font-size: 20px; text-indent: 30px; margin: 0;">
        Благодаря клубу студенты университета получают возможность выступления на самом высоком
        всероссийском уровне, участвуя в играх Чемпионата и Кубка России с ведущими командами
        страны, тем самым значительно повышая свой уровень.
    </p>
    <p class="card-text  mx-3" align="justify" style="font-size: 20px; text-indent: 30px; margin: 0;">
        На сезон 2017 РК ДГТУ заявлено 45 человек, 25 из которых являются студентами вуза, это
        игроки имеющие опыт занятий ДЮСШ и студенты которые начали заниматься этим видом спорта
        в университете.
    </p>
</div>

<div class="pt-2 mb-3" style="background: #ddeffe">
    <div class="row text-center">
        <div class="col-lg-12 py-1">
            Тренерский штаб
        </div>
    </div>
</div>

<div class="pt-2" style="background: #ddeffe">
    <div class="row text-center">
        <div class="col-lg-12 py-1">
            Основной состав
        </div>
    </div>

    <table class="table" style="font-size: 15px;">
        <thead style="font-size: 13px;  background: #aaa">
        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>
                Дата рождения
            </td>
            <td>
                Игровая позиция
						</td>
						<td>
							Рост (см)
						</td>
						<td>
							Вес (кг)
						</td>
						</tr>
					</thead>

					<tbody>
						<tr>
						<td>
						   1
						</td>
						<td>
							Луночкин Сергей Александрович
						</td>
						<td>
							08.03.1993
						</td>
						<td>
							4, 5, 6, 7
						</td>
						<td>
							182
						</td>
						<td>
							90
						</td>
						</tr>

						<tr>
						<td>
						   2
						</td>
						<td>
							Науменко Вячеслав Павлович
						</td>
						<td>
							25.02.1999
						</td>
						<td>
							1, 3
						</td>
						<td>
							186
						</td>
						<td>
							120
						</td>
						</tr>

						<tr>
						<td>
						   3
						</td>
						<td>
							Ольшаков Николай Николаевич
						</td>
						<td>
							29.08.1991
						</td>
						<td>
							1, 3
						</td>
						<td>
							185
						</td>
						<td>
							95
						</td>
						</tr>

						<tr>
						<td>
						   4
						</td>
						<td>
							Аскаров Максим Игорьевич
						</td>
						<td>
							10.04.1996
						</td>
						<td>
							1, 3
						</td>
						<td>
							175
						</td>
						<td>
							100
						</td>
						</tr>

						<tr>
						<td>
						   5
						</td>
						<td>
							Веригин Александр Александрович
						</td>
						<td>
							23.02.1991
						</td>
						<td>
							14, 15
						</td>
						<td>
							182
						</td>
						<td>
							83
						</td>
						</tr>

						<tr>
						<td>
						   6
						</td>
						<td>
							Веригин Алексей Александрович
						</td>
						<td>
							28.11.1993
						</td>
						<td>
							14, 15
						</td>
						<td>
							177
						</td>
						<td>
							77
						</td>
						</tr>

						<tr>
						<td>
						   7
						</td>
						<td>
							Гасанов Закир Гусейноевич
						</td>
						<td>
							01.01.1987
						</td>
						<td>
							9
						</td>
						<td>
							171
						</td>
						<td>
							90
						</td>
						</tr>

						<tr>
						<td>
						   8
						</td>
						<td>
							Джигания Джано Мамантевич
						</td>
						<td>
							07.05.1993
						</td>
						<td>
							1,3
						</td>
						<td>
							186
						</td>
						<td>
							140
						</td>
						</tr>

						<tr>
						<td>
						   9
						</td>
						<td>
							Джоджуа Бето Георгиевич
						</td>
						<td>
							11.01.1994
						</td>
						<td>
							6, 7
						</td>
						<td>
							173
						</td>
						<td>
							76
						</td>
						</tr>

						<tr>
						<td>
						   10
						</td>
						<td>
							Диденко Дмитрий Алексеевич
						</td>
						<td>
							25.03.1998
						</td>
						<td>
							2
						</td>
						<td>
							169
						</td>
						<td>
							98
						</td>
						</tr>

						<tr>
						<td>
						   11
						</td>
						<td>
							Елгин Александр Владимирович
						</td>
						<td>
							02.12.1986
						</td>
						<td>
							10
						</td>
						<td>
							173
						</td>
						<td>
							80
						</td>
						</tr>
                    <tr>
						<td>
						   12
						</td>
						<td>
							Зузуля Никита Сергеевич
						</td>
						<td>
							18.10.1998
						</td>
						<td>
							1, 3
						</td>
						<td>
							178
						</td>
						<td>
							104
						</td>
						</tr>

						<tr>
						<td>
						   13
						</td>
						<td>
							Идрисов Шамиль Магомедович
						</td>
						<td>
							03.10.1995
						</td>
						<td>
							14
						</td>
						<td>
							185
						</td>
						<td>
							80
						</td>
						</tr>

						<tr>
						<td>
						   14
						</td>
						<td>
							Илюшин Руслан Вячеславович
						</td>
						<td>
							28.10.1994
						</td>
						<td>
							6, 7
						</td>
						<td>
							182
						</td>
						<td>
							88
						</td>
						</tr>

						<tr>
						<td>
						   15
						</td>
						<td>
							Коновалов Алексей Андреевич
						</td>
						<td>
							11.11.1988
						</td>
						<td>
							1, 3
						</td>
						<td>
							176
						</td>
						<td>
							87
						</td>
						</tr>
                    </tbody>
    </table>
</div>
