<!doctype html>
<div class="container">
	<div class="row justify-content-md-center">
		{% if alboms %}
		{% for albom in alboms %}
		<div class="col-lg-5 ml-5">
			<a href="{{albom.id}}/" style="text-decoration: none;">
				<div class="card" style="background-color: transparent; border: 0px; color: #ddeffe;">
					<h6 class="card-title mt-2">
						{{ albom.title }}
					</h6>
					<img class="card-img" border="0" src="{{ albom.photo_set.all.0.photo.url }}" width="250" height="200">
					<h6 class="card-subtitle mb-2 text-muted mt-1"> {{albom.real_data}}</h6>
				</div>
			</a>
		</div>
		{% endfor %}
		{% endif %}
		{% if videos %}
			{% for v in videos %}

		<div class="col-lg-6 text-center p-2" style="border: 1px solid #000">
			{% autoescape off %}
			{{ v.video }}
			{% endautoescape %}
		</div>
			{% endfor %}
		{% endif %}
	</div>
</div>