<div class="card rounded-0 py-2 mb-4" style="border: 0; background: #ddeffe">
    <h2 class="card-title mx-3" style="font-weight: bold;"> {{new.title}}</h2>
    <h6 class="card-subtitle mb-2 text-muted mx-3">{{new.real_data}}</h6>
    <img class="card-img-top" src="{{new.photo.url}}" alt="Card image cap">
    {% for paragraph in new.paragraph_set.all %}
    <p class="card-text  mx-3" align="justify" style="font-size: 20px; text-indent: 30px; margin: 0;">
        {{ paragraph.text }}
    </p>
    {% endfor %}
    <a class="mt-4 mx-3" href="{{new.source}}" style="font-size:15px;">Источник: {{new.source}}</a>
</div>

