{% for event in events %}
    {% if event.was_date_published %}
        <h3> Последний матч </h3>
    {% else &}
        <h3> Ближайший матч </h3>
    {% endif %}
    <table class="this_game">
        <tr> <td colspan="4" align="center"> <b>{{event.pub_date}}</b>  </td> </tr>
        <tr> <td colspan="4" align="center"> <b>{{event.location}}</b>  </td> </tr>
        <tr> <td colspan="4" align="center"> <b>{{event.ev}}      </b>  </td> </tr>
        <tr>
            <td align="left"><img border="0" src="image/dgtu.png" width="70"></td>
            <td align="left" colspan="2"><b>{{event.result_in}} : {{event.result_out}}</b></td>
            <td align="right">
                {% if event.photo_in %}
                    <img border="0" src="{{event.photo_in.url}}" width="80">
                {% else %}
                    <img border="0" src="/media/images/ball" width="80">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2"><b>ДГТУ</b></td>
            <td></td>
            <td><b>{{event.comanda_in}}</b></td>
        </tr>
        <tr>
            <td> (Ростов-на-Дону)</td>
            <td></td>
            <td>(Таганрог)</td>
        </tr>
    </table>
{% endfor %}

