<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" name="rk dgtu" content="regby, dgtu, rk dgtu, регби дгту, рк дгту, регбийный клуб дгту, регби ростов"/>
        <title>Регбийный клуб ДГТУ</title>
        <meta name="yandex-verification" content="53bc61c7ec40e932" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
        <link rel="shortcut icon" href="{% media images/ball.jpeg}">
    </head>
    {% include 'polls/include/menu.html' %}
    {% if alboms %}
        {% for albom in alboms %}
            <div class="photo_content">
				<span class="photo1">
					<h2> {{albom.title}} </h2>
					<a href="/test/galary/{{ albom.id }}/">
						<img  border="0" src="content\7_13_17\photo\1.jpg" width="250" height="200">
					</a>
					<h3 class="data"> {{albom.data_published}} </h3>
				</span>
			</div>
        {% endfor %}
    {% else %}
        <p>No news are available.</p>
    {% endif %}
    <li>
        {% include 'polls/include/events.html' %}
    </li>
</html>